@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: white;
    font-size: 14px;
}

body {
    padding-top: 10vh; /* visualização vertical -> 5% da tela */
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position-y: -150px;
}

/* form */
#containerPrincipal {
    width: 500px;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.378);
    border-radius: 10px;
    border: none;
    padding: 25px;
}

#containerPrincipal h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /* adaptada ao elemento root */
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixaInteira {
    flex: 1 1 100%;
    position: relative;
}

.meiaCaixa {
    flex: 1 1 45%;
    position: relative;
}

.espaco {
    margin-right: 2.5%;
}
  
  label {
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 5px;
}
  
  input {
    background-color: rgba(0, 0, 0, 0.378);
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    color: white;
}

::placeholder{
    color: rgba(255, 255, 255, 0.556);
}
  
  input:focus {
    border-color: #3343d3;
}
  
input[type="submit"] {
    background-color: #3343d3;
    color: #FFF;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
} 
  #aceito, #aceito-label {
    display: inline-block;
    width: auto;
}

  .Modelo {
    display: none;
}
#voltar {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 952px){
    div#containerPrincipal {
      width: 100%;
      height: 100%;
    }     
}

h1 {
    color: white;
}

label {
    color: white;
}